.MainPanel {
  text-align: center;
}

.MainPanel-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.MainPanel-header {
  background-color: #A6192E;
  height: 50px;
  padding: 20px;
  color: white;
}

.MainPanel-title {
  font-size: 2em;
  position:relative;
  right: 13em;
}

.MainPanel-intro {
  font-size: large;
}
